/*
Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run dalmolingroup/euryale -profile test_vangalen,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'van Galen 2019 dataset'
    config_profile_description = 'Human AML bone marrow, 21 cell identities, scored with hdWGCNA'

    run_vignette               = true
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 8
    max_memory = '16.GB'
    max_time   = '4.h'

    // Input data
    // ndownloader.figshare.com is figshare's own download host, taken from the
    // article's file metadata. The figshare.com/ndownloader/... form answers 202
    // with an empty body, which would stage a zero-byte object.
    obj         = "https://ndownloader.figshare.com/files/59437163"
    network     = "hdwgcna"
    column      = "CellType"
    species     = "human"
    target      = "${projectDir}/testdata/test_input_vangalen.txt"
    n_cells     = 2000
    n_cores     = 2

}
